@import "styles/header.css";
@import "styles/section-a.css";
@import "styles/section-b.css";
@import "styles/section-c.css";
@import "styles/section-d.css";
@import "styles/section-e.css";
@import "styles/section-f.css";
@import "styles/section-g.css";
@import "styles/section-h.css";
@import "styles/section-i.css";
@import "styles/nav.css";
@import "styles/footer.css";
@import "styles/buttons.css";



@font-face{
    font-family: nyt-normal;
    src: url(fonts/cheltenham-normal-300.ttf);
}
@font-face{
    font-family: nyt300;
    src: url(fonts/cheltenham-italic-300.ttf);
}

header{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    font-size: 0.8rem;
}

main{
    font-family: nyt-normal;
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-a {
    font-family: nyt300;
}









