footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    border-top: 0.3px solid rgb(182, 182, 182);
    background-color: #fff;
    
}

footer p {
    text-align: center;
    font-size: 0.9em;
}
footer div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25%;

    
}
footer div > * {
    margin: 10px;
    display: inline;
}
footer div span {
    font-size: 0.6em;
    font-weight: 700;
}
footer div p  {
    font-weight: 700;}